@import "var";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $pri-font;
  color: $col-brown;



  .bodywrapper {
    display: grid;
    grid-template-columns: 100%;
    background-color: #511f18;
    height: 100vh;
    .bgwrapper{
      grid-row: 1/2;
      grid-column: 1/2;
      background-image: url('../media/bgindex.png');
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 60% 10% 10%;
      align-items: center;
      text-align: center;
      .logowrapper{
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px;
        .papalogo{
          grid-row: 3/5;
          grid-column: 1/2;
          max-width: 366px;
          display: grid;
        }
      }
      .headingwrapper{
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 0.7rem;

      }
      .btnwrapper{
        grid-row: 3/4;
        grid-column: 2/3;
        button{
          cursor: pointer;
          font-size: $btnfontsize;
        }
        .btn-style{
          background-image: url('../media/ikon3.png');
          background-size: 100%;
          width: 40%;
          height: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: $col-brown;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
        }

      }
    }

    .bgwrapper2{
      grid-row: 1/2;
      grid-column: 1/2;
      background-image: url('../media/bar-outside.png');
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 20% 20% 10% 10% 20% 20%;

      .paperwrapper{
        grid-column: 1/2;
        grid-row: 3/7;
        background-image: url('../media/paperfull.png');
        background-size: 100%;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 20% 15% 20% 20% 20%;
        text-align: center;

        .headingwrapper{
          grid-column: 2/4;
          grid-row: 2/3;
          h1 {
            font-size: $heading;
          }
        }

        .txtwrapperit{
          grid-column: 2/4;
          grid-row: 3/4;
        }
        .btnwrapper2{
          grid-column: 2/4;
          grid-row: 5/6;

          button{
            cursor: pointer;
            font-size: $btnfontsize;
          }
          .btn-style{
            background-image: url('../media/ikon3.png');
            background-size: 100%;
            width: 40%;
            height: 55%;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            color: $col-brown;
            padding: 7px 32px;
            text-align: center;
            text-decoration: none;
          }

        }

      }
    }

    .bgwrapper3{
      @extend .bgwrapper2;
      background-image: url('../media/bar-1.png');

      .paperwrapper2 {
        @extend .paperwrapper;
        grid-template-rows: 20% 15% 10% 10% 10% 10% 15 10%;
        .counterwrapper{
          grid-row: 1/2;
          display: grid;
          align-items: center;
          grid-column: 2/4;
          p{
            margin-top: 20px;
          }
        }
        .txtwrapperit{
          font-style: italic;
          font-size: $ptxsize;

        }

        .selectwrapper{
          grid-row: 3/5;
          grid-column: 2/4;
          overflow-x: scroll;
          margin-top: 10%;

          .listwrapper{
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

          .listwrapper input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          }

          .underline {
            position: absolute;
            top: 35px;
            left: 40%;
            height: 25px;
            width: 60px;

          }

          .underline:after {
          content: "";
          position: absolute;
          display: none;
          }

          .listwrapper input:checked ~ .underline {
            background-image: url('../media/ikon13.png');
            background-size:100%;
            background-repeat: no-repeat;

          }


          .listwrapper input:checked ~ .underline:after {
            display: block;
          }

          .listwrapper .underline:after {

          }

          label li{
            padding-bottom: 7px;
          }


          .listwrapper2{

            display: block;
            position: relative;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;


            input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            }

            .underline {
              position: absolute;
              top: 35px;
              left: 25%;
              height: 25px;
              width: 150px;

            }

            .underline:after {
            content: "";
            position: absolute;
            display: none;
            }

             input:checked ~ .underline {
              background-image: url('../media/ikon1.png');
              background-size:100%;
              background-repeat: no-repeat;

            }


             input:checked ~ .underline:after {
              display: block;
            }

            .underline:after {

            }

            label li{
              padding-bottom: 7px;
            }
          }

          .listwrapper3{

            display: block;
            position: relative;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;


            input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            }

            .underline {
              position: absolute;
              top: 35px;
              left: 24%;
              height: 25px;
              width: 180px;

            }

            .underline:after {
            content: "";
            position: absolute;
            display: none;
            }

             input:checked ~ .underline {
              background-image: url('../media/ikon1.png');
              background-size:100%;
              background-repeat: no-repeat;

            }


             input:checked ~ .underline:after {
              display: block;
            }

            .underline:after {

            }

            label li{
              padding-bottom: 7px;
            }
          }

        }






        .btnwrapper2{
          margin-top: 20px;
          grid-row: 5/6;
          grid-column: 3/4;
          display: grid;
          align-items: center;
          .btn-style{
            width: 80%;
          }
        }

        .btnwrapper3{
          @extend .btnwrapper2;
          grid-row: 5/6;
          grid-column:2/3;

        }

      }

      .paperwrapper3{
        @extend .paperwrapper2;

        .txtwrapperit{
          font-style: italic;
          font-size: $ptxsize;

        }

        .selectwrapper{
          grid-row: 4/5;
          margin-top: 0;
          ul{
            li{
              margin-bottom: 5%;
            }

          }
        }
      }
    }

    .bgwrapper4{
      @extend .bgwrapper3;


      .Cecilia{
        grid-column: 1/2;
        grid-row: 1/4;
        margin-left: 20px;
        margin-top: 70%;
        img{
          max-width: 130%;
        }
      }
      .Malik{
        grid-column: 2/3;
        grid-row: 2/4;
        img{
          max-width: 130%;
        }

      }
      .Sarah{
        grid-column: 3/4;
        grid-row: 2/4;
        margin-left: 10%;
        img{
          max-width: 100%;
        }

      }

      grid-template-columns: 33.3% 33.3% 33.3%;
      background-image: url('../media/Red-big.png');
      transition: background-image 1s ease-in-out;
      .paperwrapper4{
        grid-column: 1/4;
        @extend .paperwrapper3;
        .selectwrapper{
          grid-row: 3/5;
          margin-top: 10%;
        }
      }
    }

    .paperwrapper5{
      @extend .paperwrapper4;

    }

    .bgwrapper3 {
      .paperwrapper6{
        @extend .paperwrapper2;
        .btnwrapper2 {
          a {
            button{
              font-size: 1.05rem;
            }
          }
        }
        .displaywrapper{
          grid-row: 5/7;
          grid-column: 1/2;
        }
      }
    }
  }
}
